
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: poppins;
}

/* body{
    background-image:url(https://i.ibb.co/cTNRFbg/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

/* Animated Background - Start */

body{
    background: #100720;
    height: 100vh;
    width: 100%;
}

.circles{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position:absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 30px;
    height: 30px;
    animation-delay: 0.5s;
}
.circles li:nth-child(2){
    left: 15%;
    width: 20px;
    height: 20px;
    animation-delay: 6s;
    animation-duration: 38s; 
}
.circles li:nth-child(3){
    left: 60%;
    width: 20px;
    height: 20px;
    animation-delay: 1s;
}
.circles li:nth-child(4){
    left: 30%;
    width: 55px;
    height: 55px;
    animation-delay: 25.8s;
    animation-duration: 20s; 
}
.circles li:nth-child(5){
    left: 50%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 65%;
    width: 60px;
    height: 60px;
    animation-delay: 15s;
}
.circles li:nth-child(7){
    left: 80%;
    width: 65px;
    height: 65px;
    animation-delay: 5s; 
}
.circles li:nth-child(8){
    left: 55%;
    width: 25px;
    height: 25px;
    animation-delay: 3.15s;
    animation-duration: 40s; 
}
.circles li:nth-child(9){
    left: 85%;
    width: 15px;
    height: 15px;
    animation-delay: 5s;
    animation-duration: 30s; 
}
.circles li:nth-child(10){
    left: 25%;
    width: 65px;
    height: 65px;
    animation-delay: 10s;
    animation-duration: 35s; 
}
.circles li:nth-child(11){
    left: 75%;
    width: 60px;
    height: 60px;
    animation-delay: 25s;
    animation-duration: 20s; 
}

@keyframes animate{
    0;
    {
        transform:translateY(0) rotate(0deg);
        opacity:1;
        border-radius:0;
    }
    100%
    {
        transform:translateY(-1000px) rotate(720deg);
        opacity:0;
        border-radius:50%;
    }
}

/* Animated Background - End */


.wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    justify-content: center;
}

.box{
    width: 350px;
    height: 450px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff1a;
    backdrop-filter: blur(20px);
    padding: 1.5em;
    border-radius: 25px;
    border: 2px solid #ffffff30;
    box-shadow: 0 0 30px #0000002a;
    text-align: center;
}

.box h2{
    color: #f5f5f5;
    text-transform: capitalize;
    margin: 15px 0;
}

.box h2 span{
    display: block;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
}

.box p{
    color: #ffffff90;
    font-size: 14px;
}

.btn-area a{
    text-decoration: none;
    color: #fff;
    background: transparent;
    display: inline-block;
    padding: 8px 15px;
    margin: 15px 5px;
    border: 2px solid rgba(255,255,255,0.6);
}

.btn-area a.ex{
    background: transparent;
    color: #fff;
}


.profile-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.profile-img img{
    width: 100%;
}

.socials{
    margin-top: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.socials div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    margin: 0 5px;
}
.socials a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    margin: 0 5px;
}


.socials div.a1{
    background: #0077b5;
}
.socials div.a2{
    background: #1DA1F2;
}
.socials div.a3{
    background: #4267B2;
}
.socials div.a4{
    background: #0088cc;
}

