
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: poppins;
}

body{
    background: #000;
}

.wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    justify-content: center;
}

/* Color Circles */
.round-1{
    position: absolute;
    top: 5%;
    left: 32%;
    width: 13em;
    height: 13em;
    border-radius: 50%;
    box-shadow: 0 0 50px #d84869;
    background: linear-gradient(-25deg,#d84869,#f46641);
}

.round-2{
    position: absolute;
    top: 50%;
    right: 23%;
    width: 19em;
    height: 19em;
    border-radius: 50%;
    box-shadow: 0 0 50px #5622ff;
    background: linear-gradient(180deg,#5622ff,#4190fd);
}

.box{
    width: 350px;
    height: 450px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff1a;
    backdrop-filter: blur(20px);
    padding: 1.5em;
    border-radius: 25px;
    border: 2px solid #ffffff30;
    box-shadow: 0 0 30px #0000002a;
    text-align: center;
}

